*{
    box-sizing: border-box;
}
header{
    grid-area: header; 
    grid-area: 200px;
    background-color: lightgrey;
    border: 2px solid rgb(0, 28, 80); 
    padding: 5px;
    max-width: 100% ; 
    margin-bottom: 10px;
 }
 h1{
    text-align: center;
 }
 *body{
margin: 75%
}

*nav{
    grid-area: nav;
    display: flex;
}

.btn1{
    margin-right: 50px;
}

.btn2{
    margin-right: 50px;
}
.btn3{
    margin-right: 50px;
}
.btn4{
    margin-right: 50px;
}

article{
    background-color: lightgrey;
    margin: 10px;
    margin-left: 5px;
    margin-left: 5px;
    max-width: 100%;
}
*div{
    max-width : 2px;
    max-height: 2px;
    border: 5px black solid;
 }
 *{
    box-sizing: border-box;
}

body{
margin: 10px;
}

img{ 
    block-size: 150px;
    border-color: black;

}
.img1{ 
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    border-color: black;
}
.img2{ 
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    border-color: black;
}
nav{
        grid-area: nav;
        display: flex;
    }

#footer{
    grid-area: footer; 
    grid-area: 200px;
    background-color: lightgrey;
    padding: 5px;
    max-width: 100% ; 
    padding-bottom: 10px;
 }
 #section1{
    max-width: 50% ; 
    background-color: lightgrey;
    margin: 10px;
    margin-left: 15px;
    margin-left: 15px;
    max-width: 100% ; 
    padding-bottom: 10px;
  }
  #section2{
    max-width: 50% ; 
    background-color: lightgrey;
    margin: 10px;
    margin-left: 15px;
    margin-left: 15px;
    max-width: 100% ; 
    padding-bottom: 10px;
  }
  h3{
    margin-left: 10px;
  }
.grid{
    background-color: rgb(127, 204, 255);
    text-align: center;
    margin: 10px;
    border-radius: 50%;
    margin-left: 50px;
    margin-left: 50px;
    max-width: 80% ; 
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (max-width: 450px){
    .grid{
        background-color: rgb(212, 195, 38);
        text-align: center;
        margin: 10px;
        border-radius: 20%;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 80% ; 
        padding-top: 50px;
        padding-bottom: 50Px;
        }
}
@media (max-width: 350px){
    .grid{
        background-color: rgb(78, 209, 155);
        text-align: center;
        margin: 10px;
        border-radius: 0%;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100% ; 
        padding-top: 50px;
        padding-bottom: 50Px;
        }
